<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

        <h:head>
             <title>#{str.drinkListTitle}</title>
        </h:head>

        <h:body>
            <ui:composition template="/templates/template.xhtml">
                <ui:define name="contenido">
                    <h1>#{str.drinkListTitle}</h1>
                    <h:form>
                        <p:commandButton value="#{str.buttonAdd}" action="#{drinkBean.start()}" />
                    </h:form>
                    <p:dataTable value="#{drinkBean.drinks}" var="r">
                        <p:column headerText="#{str.action}">
                            <h:form>
                                <p:commandButton value="#{str.buttonEdit}" action="#{drinkBean.edit(r)}" />
                            </h:form>
                        </p:column>
                        <p:column headerText="#{str.drinkNameHeader}">
                            <p:outputLabel value="#{r.name}"></p:outputLabel>
                        </p:column>
                    </p:dataTable>
                </ui:define>
            </ui:composition>
        </h:body>
</html>
