<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

        <h:head>
             <title>#{str.empresaListTitle}</title>
        </h:head>

        <h:body>
            <ui:composition template="/templates/template.xhtml">
                <ui:define name="contenido">
                    <h1>#{str.empresaListTitle}</h1>
                    <h:form>
                        <p:commandButton value="#{str.buttonAdd}" action="#{companyBean.start()}"></p:commandButton>
                    </h:form>
                    <p:dataTable value="#{companyBean.companies}" var="e">
                        <p:column headerText="#{str.action}">
                            <h:form>
                                <p:commandButton value="#{str.buttonEdit}" action="#{companyBean.edit(e)}"></p:commandButton>
                            </h:form>
                        </p:column>
                        <p:column headerText="#{str.companyHeader}">
                            <p:outputLabel value="#{e.nameCompany}"></p:outputLabel>
                        </p:column>
                        <p:column headerText="#{str.cityHeader}">
                            <p:outputLabel value="#{e.city}"></p:outputLabel>
                         </p:column>
                         <p:column headerText="#{str.priceHeader}">
                             <p:outputLabel value="#{e.price}"></p:outputLabel>
                        </p:column>
                        <p:column headerText="#{str.cpHeader}">
                             <p:outputLabel value="#{e.cp}"></p:outputLabel>
                        </p:column>
                        <p:column headerText="#{str.routeHeader}">
                            <p:outputLabel value="#{e.route}"></p:outputLabel>
                        </p:column>
                        <p:column headerText="#{str.drinkHeader}">
                            <p:outputLabel value="#{e.drink.name}"></p:outputLabel>
                        </p:column>
                    </p:dataTable>
                </ui:define>
            </ui:composition>
        </h:body>
</html>
